nav {
  text-align: center;
  background-color: green;
  padding: 25px,0;
}
nav ul li {
  background-color: white;
  display: inline-block;
  margin: 0 15px;
  padding: 10px;
  transition: 1s ease;

}

div {
  text-align: center;
}

nav ul li:hover{
  background-color: blue;
  border: 5px;
  font-size: 7px;
  border:
}

div {
  text-align: center;
}

button {
  background-color: green;
  color: white;
  padding: 10px 0;
  width: 10px 0;
  border: none;
}
